{% extends 'main/base.html' %}
{% load static %}

{% block content %} 

{% for post in post_list %}

<div class="container mt-5">
      <div class="card mb-3 shadow-sm">
          <div class="row">
            <div class="col-md-8 align-self-center">
              <div class="card-body">
                <a href= "{{ post.get_absolute_url }}" class="text-dark"><h3 class="card-title font-weight-bold">{{ post.title }}</h3></a>
                <p class="card-text">{{ post.short_description | safe }}</p>
                <p class="card-text"><small class="text-dark">Posted {{ post.created_on | date:"j M" }}</small></p>
                <img src="{{ post.category.image_svg.url }}" title="Категория: {{ post.category.name }}" rel="tooltip" class="svg_small float-left">
                <p class="float-right text-muted"><img src="{% static 'blog/svg/eye.svg' %}"> {{ post.views }} </p>
              </div>
              
            </div>
            <div class="col-md-4">
              <img src="{{ post.preview_image.small.url }}" class="card-img" alt="...">
            </div>
          </div>
        </div>
    </div>
{% endfor %}

<!-- PAGINATION -->

{% if is_paginated %}
  <!--Pagination-->
    <nav aria-label="Page navigation">
      <ul class="pagination pagination-lg justify-content-center">
          <!-- Prev button -->
          <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a
            class="page-link" 
            href={% if page_obj.has_previous %}"?page={{ page_obj.previous_page_number }}" {% else %} "#" {% endif %}
            >Туда</a>
          </li>
  
        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        <!-- Next button -->
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
            <a
            class="page-link" 
            href={% if page_obj.has_next %}"?page={{ page_obj.next_page_number }}" {% else %} "#" {% endif %}
            >Сюда</a>
        </li>
      </ul>
    </nav>
    <!--end of Pagination-->

{% endif %}



{% endblock %}