{% extends 'main/base.html' %}


{% block content %} 

<div class="article-section mt-4">
    <div class="container-fluid mt-4" style="background-color: #fafafa">
     <img src="{{ post.preview_image.cropped.url }}" class="mx-auto d-block img-fluid">
    </div>
</div>
<div class="container mt-4">
 {% if user.is_staff %}
 <a href="{% url 'admin:blog_post_change' object_id=post.id %}" class="btn btn-secondary btn-sm active float-right" role="button" aria-pressed="true">edit</a>
 {% endif %}
 <h1 class="font-weight-bold">{{ post.title }}</h1>
 
 <div class="span">
     <h6 class="font-weight-bold">Written by {{ post.author.get_full_name }}</h6>
     <p class="text-secondary ">{{ post.created_on | date:"l M j" }}</p>
 </div>
 
    <div class="text-center">
            <p title="Описание поста на языке эмодзи" rel="tooltip"> {{ post.emoji_description }} </p>
    </div>
    <hr>
    <div class="container blog-content">
        {{ post.content | safe }}
    </div>
</div>


{% endblock %}